{% extends 'myschool/base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8"> {% block head%}
    <title>contact collage</title>
    <link href="assets/web/assets/mobirise-icons/mobirise-icons.css" rel="stylesheet">
    <link href="assets/tether/tether.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="assets/dropdown/css/style.css" rel="stylesheet">
    <link href="assets/theme/css/style.css" rel="stylesheet">
    <link href="assets/mobirise/css/mbr-additional.css" rel="stylesheet" type="text/css"> {% endblock%}


</head>

<body>
    {%block body%}

    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Contact Us Page </h1>
    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h3>

    <div class="mbr-section-btn align-center"><a class="btn btn-md btn-black-outline display-4" href="index.html#form1-4">
                        CONTACT US</a></div>
    {% endblock%}
</body>

</html>